<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  <!--	<link rel="icon" href="ico/favicon.ico"> -->
    <title>Routes</title>
  <!--	<link href="../css/bootstrap.min.css" rel="stylesheet">
    //    <link href="css/style.css" rel="stylesheet"> -->
  </head>
  <body>
    {{range .}}
      <p>NAME: {{.Name}}</p>
      <p>KILOMETER: {{.Kilometer}}</p>
      <p>COMMENTS:</p>
      <ul>
        {{range .Comments}}
          <li>{{.}}</li>
        {{end}}
      </ul>
    {{end}}

    <!--<script src="../js/bootstrap.min.js"></script> -->
    </body>

</html>
