<!DOCTYPE html>
<html lang="en">
  {{template "head" .}}
  <body>
    <div id="wrap">
      {{template "login"}}
      <div class="container">
        <p class="lead">Add a new route<p>
        <form class="form" role="form" method="post" data-toggle="validator" action="addRoute" accept-charset="UTF-8" id="addRoute">
          <div class="form-group">
            <label for="title">Title:</label>
            <input id="title" type="text" class="form-control" placeholder="Title" name="title" required>
             <div class="help-block with-errors"></div>
          </div>
  				<div class="form-group">
            <label for="description">Description:</label>
  	        <textarea id="description"  rows="3" class="form-control" placeholder="Write a description here" required></textarea>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label for="distance">Distance:</label>
            <input id="distance" type="text" class="form-control" placeholder="Distance (measured in meters)" name="distance" required>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label for="beginLoc">Starts in:</label>
            <input id="beginLoc" type="text" class="form-control" placeholder="Write the name of a location" name="beginLoc" required>
            <div class="help-block with-errors"></div>
          </div>
  				<div class="form-group">
            <label for="endLoc">Ends in:</label>
            <input id="endLoc" type="text" class="form-control" placeholder="Write the name of a location" name="endLoc" required>
            <div class="help-block with-errors"></div>
          </div>
  				<div class="form-group">
            <label for="difficulty">Difficulty:</label>
            <select class="form-control" id="difficulty" required>
              <option value="easy">Easy</option>
              <option value="medium">Medium</option>
              <option value="difficult">Difficult</option>
            </select>
            <div class="help-block with-errors"></div>
          </div>
  				<div class="form-group">
            <label for="fields">Field:</label>
            <div id="fields">
              <label class="checkbox-inline">
                <input type="checkBox" id="road"name="road"> Road
              </label>
              <label class="checkbox-inline">
                <input type="checkBox" id="mountain"name="mountain"> Montain
              </label>
              <label class="checkbox-inline">
                <input type="checkBox" id="path"name="path"> Path
              </label>
            </div>
          </div>
          <div class="form-group">
            <label for="slope">Slope:</label>
            <input id="slope" type="text" class="form-control" placeholder="Slope" name="slope" required>
            <div class="help-block with-errors"></div>
          </div>
  				<div class="form-group">
            <label for="score">Score:</label>
            <div id="score">
              <label class="radio-inline">
                <input type="radio" name="score" value="oneStar"> &#9733;
              </label>
              <label class="radio-inline">
                <input type="radio" name="score" value="twoStars"> &#9733;&#9733;
              </label>
              <label class="radio-inline">
                <input type="radio" name="score" value="threeStars"> &#9733;&#9733;&#9733;
              </label>
              <label class="radio-inline">
                <input type="radio" name="score" value="fourStars"> &#9733;&#9733;&#9733;&#9733;
              </label>
              <label class="radio-inline">
                <input type="radio" name="score" value="fiveStars"> &#9733;&#9733;&#9733;&#9733;&#9733;
              </label>
            </div>
            <div class="help-block with-errors"></div>
            </div>
  				<div class="form-group">
            <label for="totalAcent">Total Ascent:</label>
            <input id="totalAcent" type="text" class="form-control" placeholder="Total Ascent (in meters)" name="totalAscent" required>
            <div class="help-block with-errors"></div>
          </div>
  				<div class="form-group">
            <label for="signal">Signal:</label>
            <label class="checkbox-inline">
              <input type="checkBox" id="signal" name="signal"> Is Signposted?
            </label>
          </div>
  				<div class="form-group">
            <label for="beginTransport">Begin transport:</label>
            <label class="checkbox-inline">
              <input type="checkBox" id="beginTransport" name="beginTransport"> No transport?
            </label>
          </div>
  				<div class="form-group">
            <label for="garage">Garage:</label>
            <label class="checkbox-inline">
              <input type="checkBox" id="garage" name="garage"> Garage?
            </label>
          </div>
          <div class="form-group">
            <label for="inputFile">Upload a Photo</label>
            <input type="file" id="inputFile">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-block">Send!</button>
          </div>
        </form>
      </div><!--/.container-->
    </div><!--/.wrap-->
    {{template "bootscript"}}
    <script src="/js/val  idator.js"></script>
  </body>
</html>
