{{define "login"}}

<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">GoBike</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Log In <span class="caret"></span></a>
          <ul class="dropdown-menu" role="sign in">
            <form class="navbar-form navbar-left" role="login" method="post" action="/login">
            <div class="form-group">
                  <label for="username">Name:</label>
                <input type="text" class="form-control" placeholder="Username" id="userName">
              </div>
              <div class="form-group">
                <label for="password">Password:</label>
                    <input type="password" class="form-control" placeholder="Password" id="password">
              </div>
              <div class="divider"></div>
              <a class="btn btn-default" href="/register">Sign Up</a>
            <button type="submit" class="btn btn-default pull-right">Sign In</button>
            <li class="divider"></li>
            <a class="btn btn-default" href="/registerFacebook"><i class="fa fa-facebook"></i></a>
            <a class="btn btn-default" href="/registerGoogle"><i class="fa fa-google-plus"></i></a>
            <a class="btn btn-default" href="/registerTwitter"><i class="fa fa-twitter"></i></a>
            <a class="btn btn-default" href="/registerLinkedin"><i class="fa fa-linkedin"></i></a>

            <div class="center-block">
          </div>
          </form>
          </ul>
        </li>
       </ul>
  </div><!-- /.container-fluid -->
</div>
</div>
{{end}}

{{define "loginscript"}}
<script type="text/javascript">
      (function() {
       var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
       po.src = 'https://apis.google.com/js/client:plusone.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
     })();

    function signinCallback(authResult) {
  if (authResult['status']['signed_in']) {
    // Update the app to reflect a signed in user
    // Hide the sign-in button now that the user is authorized, for example:
    document.getElementById('signinButton').setAttribute('style', 'display: none');
  } else {
    // Update the app to reflect a signed out user
    // Possible error values:
    //   "user_signed_out" - User is signed-out
    //   "access_denied" - User denied access to your app
    //   "immediate_failed" - Could not automatically log in the user
    console.log('Sign-in state: ' + authResult['error']);
  }
}
</script>

{{end}}
