<!DOCTYPE html>
<html lang="en">
{{template "head" .}}
<body>
  <div id="wrap">
    {{template "login"}}
    <div class="container">
      <form id="register" class="col-md-7" data-toggle="validator" role="form" method="post" action="/registerPost">
        <div class="form-group">
          <label for="inputUsername" class="control-label">Username</label>
          <input type="text" class="form-control" id="inputUsername" name="Username" placeholder="Username" required>
          <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
          <label for="inputEmail" class="control-label">Email</label>
          <input type="email" name="Email" class="form-control" id="inputEmail" placeholder="Email" data-error="Bruh, that email address is invalid" required>
          <div class="help-block with-errors"></div>
        </div>
        <div class="form-group form-box">
          <label for="inputPassword" class="control-label">Password</label>
          <div class="row">
            <div class="col-lg-6">
              <input type="password" data-toggle="validator" class="form-control firstPassword" id="inputPassword" name="Password" placeholder="Password" required>
            </div><!--/.col-lg-6-->
            <div class="col-lg-6">
              <input type="password" class="form-control secondPassword" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="Whoops, these don't match" placeholder="Confirm" required>
              <div class="help-block with-errors"></div>
            </div><!--/.col-lg-6-->
          </div><!--/.row-->
        </div><!--/.form-group-->
        <button type="submit" class="btn btn-default">Sign Up</button>
      </form>
      <div class="pull-right col-md-5">
        <img class="img-responsive" src="http://yarr.me/c/254/4/biker-cat-too-cool.jpg" alt="cat"/>
      </div>
</div><!--/.container-->
</div><!--/.wrap-->
{{template "bootscript"}}
<script src="/js/validator.js"></script>
</body>
</html>
