/*!
 * We'll put our own css here :D
 */
.carousel-control.left, .carousel-control.right {
	background: none;
}

.navbar {
	border:none;
	border-radius:0;
}
.btn {
	border:none;
	border-radius:0;
}
/*.btn-success.disabled {
	background-color:#ff6666;
}*/
